{% extends 'cpal_page.html' %}

{% block style%}
<link rel="stylesheet" href="/static/css/cpal.css" />
{% endblock %}

{% block description %}
<!--
<div class="info-message">
    &nbsp;&nbsp;&nbsp;<b>Note</b>: R0, this tool is not fully developed and does not send an email out.
</div>
-->
<div class="container">
    <h3>How to Submit a Question or Request Help</h3>
    <ul>
        <!--
        <li>For general questions, not technical issues: Send an email to <a
                href="mailto:crescentcpal@cascadiaquakes.org">crescentcpal@cascadiaquakes.org</a>.
        </li>
        <br />-->
        <li>If you have any questions or need assistance regarding the CPAL web, please follow the steps outlined below
            for
            a smooth process. To simplify submissions and track requests, we use GitHub issues for all inquiries and
            help
            requests. This ensures that nothing gets overlooked. Simply follow these steps:

            <ol>
                <li><strong>FOR QUESTIONS REGARDING CPAL DATA,</strong> &mdash;
                    <a href="https://github.com/cascadiaquakes/CRESCENT-CPAL/issues" class="button">Go to the
                        CRESCENT-CPAL Issue Page</a>
                    <br />or <br />
                    <strong>FOR QUESTIONS REGARDING CPAL WEB</strong> &mdash;
                    <a href="https://github.com/cascadiaquakes/CRESCENT-CPAL-WEB/issues" class="button">Go to the
                        CRESCENT-CPAL-WEB Issue Page</a>
                </li>

                <li><strong>Create a New Issue</strong> &mdash;
                    Once on the page, click the "New Issue" button to start a new submission or help request.</li>

                <li><strong>Provide Details</strong> &mdash;
                    In your question or request, please include the following information:
                    <ul>
                        <li>A brief description of your question or issue.</li>
                        <li>Any relevant files (e.g., images, data) can be linked or attached.</li>
                    </ul>
                </li>

                <li><strong>Submit</strong> &mdash;
                    After providing all the necessary details, submit your issue. We will review it and get back to you
                    as
                    soon
                    as possible.</li>
            </ol>
    </ul>
    <p>We are happy to assist with any questions or requests!</p>
</div>
{% endblock %}